@use './variables' as *;

.row-flex {
    display: flex;
    flex-direction: row;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: $xl_font_size;
    font-weight: bold;
}

.h2 {
    font-size: calc($xl_font_size / 1.3);
    font-weight: bold;
}

.medium-head {
    font-size: $l_font_size;
    font-weight: bold;
}