$main_color: #ececec;
$second_color: #2197f3;
$third_color: #d5d5d5;
$hover_color: #e4e4e4;
$hover_lite: #fafafa;
$text_color: #777;
$black_color: #000;
$white_color: #fff;

// Font Size
$xl_font_size: 2.5rem;
$l_font_size: 1.5rem;
$s-font_size: 1rem;
$normal_text_size: 1.2rem;
$normal_text_size_xs: .8rem;

$max_gap: 100px;


// Media
$e_small_screen_width: 'max-width: 576px';

// $small_min_screen_width: 'min-width: 769px';
$small_max_screen_width: 'max-width: 991px';

$medium_min_screen_width: 'min-width: 992px';
$medium_max_screen_width: 'max-width: 1199px';